{% extends "index.html" %}

{% block title %}Create Restaurant{% endblock %} 

{%block body%}
 
<h1>Create New Restaurant</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="{{ url_for('createRestaurant') }}" method= "POST">
    <label for="restoName">Restaurant name</label>
    <input type="text" id="restoName" name="newResto" required>
    <button type="submit">Create</button>
</form>
<a href="{{ url_for('restaurantList') }}">Return to Restaurant List</a>
{%endblock%}