{% extends "index.html" %}

{% block title %}DataBase{% endblock %} 


{%block body%}
 
<h1 id="up" class="database">DataBase</h1>

<a href="{{ url_for('restaurantList') }}" class="database">Go to Restaurant List</a>

<h2 class="database">Items Database</h2>
<div>
    <button type="submit" form="dbform">Delete Selected Items</button>
    <button type="reset" form="dbform"> Clear All</button>
</div>
<table>
    <tr>
        <th>Select</th>
        <th>Id</th>
        <th>Name</th>
        <th>Course</th>
        <th>Description</th>
        <th>Price</th>
        <th>Restaurant_Id</th>
        <th>Edit</th>
    </tr>
    
    <form id="dbform" action="{{ url_for('cleanDataBase') }}" method="POST">
    {% for item in menuItems%}
    <tr>
        <td>
            <input type="checkbox" name="itemToDelete" value="{{item.id}}">
        </td>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.course}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td>{{item.restaurant_id}}</td>
        <td>
            <button form="dbform" class="databasebutton" name="itemToEdit" value="{{item.id}}" formaction="{{ url_for('editMenuItemDataBase') }}" formmethod="GET">Edit</button>
        </td>
    </tr>
    {% endfor %}
    </form>

</table>
<a href="#up">Go up</a>

{% endblock %}