{% extends "index.html" %}

{% block title %}Delete {{item_list[menu_id].name}} from {{resto.name}} Menu{% endblock %} 

{%block body%}
 
<h1>{{resto.name}} Total Menu Items {{item_list_len}}</h1>
<h2>Delete Menu Item N° {{menu_id+1}}: {{item_list[menu_id].name}} </h2>
<form action="{{ url_for('deleteMenuItem', restaurant_id=resto.id, menu_id=menu_id) }}" method= "POST">
    <button type="submit">Delete</button>
</form>
<a href="{{ url_for('restoMenuList', restaurant_id=resto.id) }}">Return to {{resto.name}} Menu List</a>

{%endblock%}
