{% extends "index.html" %}

{% block title %}{{resto.name}} Menu List{% endblock %} 

{%block body%}
 
<h1>{{resto.name}} Menu</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="modal">
    <div  class="modal-contenido modal-contenido-m">
        {% for message in messages %}
        <h1>{{message}}</h1>
        {% endfor %}
        <a href="{{ url_for('restoMenuList', restaurant_id=resto.id) }}">Return to Restaurant List</a>
    </div>
</div>
{% endif %}
{% endwith %}

<a href="{{ url_for('newMenuItem', restaurant_id=resto.id) }}">Create new Menu Item</a>
<a href="{{ url_for('restaurantList') }}">Return to Restaurant List</a>

<ol>
    {% for i in items %}
    <li>
        <div>
            <h3>{{i.name}}</h3>
            <p>{{i.price}}</p>
        </div>
        <p>{{i.description}}</p>
        <a href="{{ url_for('editMenuItem', restaurant_id=resto.id, menu_id=loop.index0) }}">Edit</a>
        <a href="{{ url_for('deleteMenuItem', restaurant_id=resto.id, menu_id=loop.index0) }}">Delete</a> 
                 
    </li>
    {% endfor %}
</ol>

{%endblock%} 